
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Lista","Lista","Nota", new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("cadastrar","create","nota", new { @class = "btn btn-default" })</li>
</ul>